
/* body */ 
body{
    font: 20px arial, sans-serif;
}

/* Barra de navegação */
.navbar{
    background-color: #E6E6E6;
    padding-left: 50px;
}

.collapse{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

/* margem */

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Textos */
.text{
    padding-top: 50px;
    font-size: 20px;
    padding-left: 300px;
    padding-right: 300px;
}

.footer{
    font-size: 15px;
}

/* Formulário */

.formulario{
    padding-left: 500px;
    padding-right: 500px;
}

